/venv
/secret.env
/ID_Images*
*__pycache__*
uploads/
*profile*
backend/agents/reverse_image_agent_helpers/profile
.env
*profile
.venv
backend/agents/profile/
backend/agents/document_agent_helpers/yolov8n-face.pt
dashboard/public/uploads-modified*
dashboard/public/.jpg*